/tapfortap.ane
/fake.p12
/example/bin
/library/bin
/native/tapfortap-ane-android.jar
/native/android/bin
/native/android/gen
/example/Fake.mobileprovision
/example/FakeCert.p12
/native/libTapForTapExtension.a
